<h1 mat-dialog-title>Add Country</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Choose city</mat-label>
    <mat-select [(ngModel)]="countryId">
      <mat-option *ngFor="let country of countries" [value]="country.id">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>
