.icon
  padding: 0 14px


.spacer
  flex: 1 1 auto

.sidenav-wrap
  width: 100%
  height: 100%

  .sidenav-body
    width: 400px
    background-color: #3f51b5
    padding-top: 100px

    .item
      color: #ffffff !important
      font-size: 24px
      cursor: pointer
