<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> number </th>
      <td mat-cell *matCellDef="let row"> {{row.number}} </td>
    </ng-container>

    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> room </th>
      <td mat-cell *matCellDef="let row"> {{row.rooms}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> cost </th>
      <td mat-cell *matCellDef="let row"> {{row.cost}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<button mat-raised-button (click)="openDialog()">Add Apartments</button>
