<h1 mat-dialog-title>Edit Reservation</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Choose Hotel</mat-label>
    <mat-select [(ngModel)]="hotelId">
      <mat-option *ngFor="let hotel of hotels" [value]="hotel.id" (click)="getApartments(hotelId)">
        {{hotel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Choose Apartments</mat-label>
    <mat-select [(ngModel)]="apartmentId">
      <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
        {{apartment.rooms}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>
