<h1 mat-dialog-title>Add Country</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Number</mat-label>
    <input matInput [(ngModel)]="number">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Room</mat-label>
    <input matInput [(ngModel)]="room">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cost</mat-label>
    <input matInput [(ngModel)]="cost">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>
