<div class="card-wrap">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-wrap">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="user.email" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.password" type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onSubmit()">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
