.mat-stepper-horizontal
  margin-top: 8px


.mat-form-field
  margin-top: 16px

table
  width: 100%

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%

.action-cell
  text-align: end


