<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
      <td mat-cell *matCellDef="let row"> {{row.apartment.number}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
      <td mat-cell *matCellDef="let row"> {{row.apartment.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="rooms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
      <td mat-cell *matCellDef="let row"> {{row.apartment.rooms}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
      <td mat-cell *matCellDef="let row"> {{row.from}} </td>
    </ng-container>

    <ng-container matColumnDef="till">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Till </th>
      <td mat-cell *matCellDef="let row"> {{row.till}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row" class="action-cell">
        <button mat-button color="primary" (click)="openDialog(row.apartment.hotel.city.id, row.apartment.id)">Edit</button>
        <button mat-button color="warn" (click)="onDelete(row.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
