<h1 mat-dialog-title>Add Country</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Level</mat-label>
    <mat-select [(ngModel)]="level">
      <mat-option value="1">
        1
      </mat-option>
      <mat-option value="2">
        2
      </mat-option>
      <mat-option value="3">
        3
      </mat-option>
      <mat-option value="4">
        4
      </mat-option>
      <mat-option value="5">
        5
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>
