<mat-sidenav-container class="sidenav-wrap">
  <mat-sidenav class="sidenav-body" #sidenav mode="side" [(opened)]="opened">
    <mat-list role="list">
      <mat-list-item class="item" routerLink="countries" role="listitem">Countries</mat-list-item>
      <mat-list-item class="item" routerLink="cities" role="listitem">Cities</mat-list-item>
      <mat-list-item class="item" routerLink="hotels" role="listitem">Hotels</mat-list-item>
      <mat-list-item class="item" routerLink="apartments" role="listitem">Apartments</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isLogged">
      <mat-toolbar-row>
        <button mat-button *ngIf="role === 'admin'" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span class="title" routerLink="reservations">Tour Operator</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon">person</mat-icon>
        </button>
        <span>{{userName}}</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onSignOut()">Sign Out</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
